$basket-icon-size: 30px;

main {
	& section {
		padding: 10px;
	}
}

.main_header {
	display: flex;
	justify-content: end;
	padding-right: 10px;

	& > a > svg {
		margin-top: 10px;
		height: $basket-icon-size;
		width: $basket-icon-size;
		position: relative;
	}

	& span {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: darkorchid;
		width: calc($basket-icon-size / 1.6);
		height: calc($basket-icon-size / 1.6);
		border-radius: 50%;
		right: calc($basket-icon-size / 1.1 + 40px);
		top: calc($basket-icon-size * 1.2);
		position: absolute;
		pointer-events: none;
	}
}