$basket-icon-size: 30px;

.buttonToBasket {
	position: relative;

	& > a > svg {
		height: $basket-icon-size;
		width: $basket-icon-size;
		position: relative;
	}

	& span {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: darkorchid;
		width: calc($basket-icon-size / 1.6);
		height: calc($basket-icon-size / 1.6);
		border-radius: 50%;
		right: calc($basket-icon-size / 1.6);
		top: calc($basket-icon-size / 1.6);
		position: absolute;
		pointer-events: none;
	}
}