button {
	border: 0;
	border-radius: 6px;
	background-color: #6e6e6e;

	&:hover {
		background-color: #969696;
	}
	&:active {
		background-color: #868686;
	}
}

.card {
	display: flex;
	flex-direction: column;
	background-color: #424141;
	padding: 12px;
	border-radius: 10px;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}

	// Title
	& h3 {
		line-height: 16px;
		padding: 0;
		margin-top: 14px;
	}

	// Thumbnail
	& img {
		color: indianred;
		width: 250px;
		height: 250px;
		border-radius: 10px;
	}

	// Description
	& > span {
		margin-top: 14px;
	}

	// Add to cart
	& .addToCart {
		display: flex;
		justify-content: space-between;
		margin-top: 8px;

		// Price
		& span {
			font-size: 20px;
			font-weight: 400;
			color: #1baf1b;
		}

		& > button {
			cursor: pointer;
			width: 150px;
			padding: 4px 18px;
		}

	}

}

// Counter
.card_counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	margin-top: 14px;

	& input::-webkit-outer-spin-button,
	& input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	& input[type="number"] {
		-moz-appearance: textfield;
	}

	& > button {
		cursor: pointer;
		width: 24px;
		height: 24px;
	}
}

// Cart card container
.cartCardContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	padding: 0;
	margin-left: 20px;
}