.card {
	background-color: #424141;
	padding: 12px;
	border-radius: 10px;
	margin-top: 10px;

	&:first-child {
		margin-top: 0;
	}

	// Title
	& h3 {
		line-height: 14px;
		padding: 0;
		margin: 0;
	}

	// Button
	& button {
		border: 0;
		border-radius: 6px;
		background-color: #6e6e6e;

		&:hover {
			background-color: #969696;
		}
		&:active {
			background-color: #868686;
		}
	}

	& > button {
		cursor: pointer;
		padding: 4px 18px;
		margin-top: 14px;
	}
}

// Price
.price {
	display: block;
	font-weight: 400;
	color: #1baf1b;
	margin-top: 14px;
}

// Counter
.card_counter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100px;
	margin-top: 14px;

	& > button {
		cursor: pointer;
		width: 24px;
		height: 24px;
	}

	& input {
		text-align: center;
		width: 32px;
		height: 24px;

		padding: 0;
	}
}